/* Assign styles here */

* {
    box-sizing: border-box;
}

.col {
  text-align: center;
}

h1 {
  font-weight: 300;
}

i {
  margin-bottom: 10px;
}

.anchor {
  color: #b388ff;
}

.bell {
  color: #8c9eff;
}
